/* Sale Banner */
.sale-banner {
    position: relative;
    overflow: hidden;
}

.sale-banner::before {
    content: "SALE";
    position: absolute;
    top: 10px;
    right: -40px;
    background-color: red;
    color: white;
    padding: 5px 40px;
    font-weight: bold;
    font-size: 16px;
    transform: rotate(45deg);
    z-index: 1;
    width: 150px;
    text-align: center;
}
/* Hero Section Background */
.hero-background {
    background-image: url("https://chari-u.com/img/top/main01.jpg");
    background-color: rgba(255, 255, 255, 0.3);
    background-blend-mode: screen;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Business Diary Section Background */
.business-diary-bg {
    background-image: linear-gradient(to right, rgba(50, 130, 100, 0.9), rgba(144, 238, 144, 0.7)), url("https://chari-u.com/img/top/main06.jpg");
    background-position: right;
    background-repeat: no-repeat;
}

.news-scroll-container {
    padding: 15px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin;
    scrollbar-color: #d4dde2 transparent;
    position: relative;
    overflow-x: auto;
    display: flex;
    gap: 20px;
}

.news-scroll-container::-webkit-scrollbar {
    height: 6px;
}

.news-scroll-container::-webkit-scrollbar-track {
    background: transparent;
}

.news-scroll-container::-webkit-scrollbar-thumb {
    background-color: #d4dde2;
    border-radius: 6px;
}

.diary-button {
    display: flex;
    min-width: 100px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 9999px;
    height: 2.5rem;
    padding: 0 1rem;
    background-color: #e53768;
    color: white;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.015em;
    transform: translateZ(0);
    transition: transform 0.3s ease-in-out;
}

.diary-button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
